*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
body {
	font-family: Inter;
	font-size: 18px;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}
.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 15px;
}
/* PC */
@media (max-width: 1210px) {
	.container {
		max-width: 970px;
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	.container {
		max-width: none;
	}
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
}

.header {
	/* position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10; */
}
.header__container {
	display: flex;
	min-height: 236px;
	align-items: center;
}
.header__logo {
	margin-right: 20px;
	position: relative;
	z-index: 5;
}
.header__image {
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
	display: flex;
	justify-content: flex-end;
}
.menu__burger {
	display: none;
	margin-left: 20px;
}

.menu__body {
}
.menu__list {
	display: flex;
	gap: 80px;
}

.menu__link {
	font-weight: 500;
	line-height: 28px;
	color: #6b7280;
}

.header__button {
	margin-left: 80px;
	position: relative;
	z-index: 2;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 32px;
	border: 1px solid #3730a3;
	border-radius: 6px;
	font-weight: 500;
	line-height: 28px;
	color: #3730a3;
}
.button_blue {
	color: white;
	background-color: #3730a3;
}
@media (max-width: 1210px) {
	.header__container {
		min-height: 170px;
	}
}
@media (max-width: 991.98px) {
	.header__container {
		min-height: 120px;
	}
}
@media (max-width: 767.98px) {
	.button {
		padding: 10px 20px;
	}
	.menu__list {
		gap: 35px;
	}
	.header__button {
		margin-left: 0px;
	}
	.header__container {
		min-height: 70px;
	}
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
}
/* Бургер */
@media (max-width: 767.98px) {
	body.lock {
		overflow: hidden;
	}
	.menu__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.menu__burger::after,
	.menu__burger::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: rgb(0, 0, 0);
		transition: all 0.3s ease 0s;
	}

	.menu__burger::before {
		top: 0px;
	}
	.menu__burger::after {
		bottom: 0;
	}

	.menu__burger span {
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: black;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.menu__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.menu__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.menu__burger.active span {
		transform: scale(0);
	}
	.menu__body {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(235, 224, 224);
		z-index: 2;
		padding: 90px 0 0 20px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.menu__list {
		flex-direction: column;
	}
	.menu__body.active {
		top: 0px;
	}
}
.representation {
	padding: 102px 0 198px 0;
	/* padding: 300px 0 198px 0; */
}
.representation__container {
	display: flex;
	align-items: center;
}
.representation__content {
	flex: 1 1 auto;
	padding-right: 80px;
}
.content-representation-body {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.content-representation-body__name {
	padding: 0 0 0 112px;
	position: relative;
}
.content-representation-body__name::before {
	content: "";
	background: #4338ca;
	border: 1px solid #3730a3;
	width: 102px;
	height: 0px;
	position: absolute;
	top: 7px;
	left: 0;
}
.info-body-content-representation__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 1;
	color: #1f2937;
}

.info-body-content-representation__text {
	line-height: 1.56;
	color: #6b7280;
}
.content-representation-body__button {
	display: flex;
	gap: 20px;
}

.content-representation-body__note {
	padding-top: 20px;
	margin-top: -20px;
	position: relative;
	font-size: 12px;
	line-height: 16px;
	color: #6b7280;
	border-top: 1px solid rgba(229, 231, 235, 1);
}

.representation__image {
	flex: 0 0 40.509%;
	padding: 0px 0px 44.492% 0px;
	position: relative;
	min-height: 450px;
}
.representation__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
} */

/* PC */
@media (max-width: 1210px) {
	.representation {
		padding: 85px 0 140px 0;
	}
	.representation__content {
		padding-right: 50px;
	}
	.info-body-content-representation__title {
		font-size: calc(32px + 40 * ((100vw - 320px) / (1210 - 320)));
		/* 72-32 max значение - min значение        размер viewport */
		/* SCSS Миксин:
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
} */
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	.representation {
		padding: 75px 0 120px 0;
	}
	.info-body-content-representation__title {
		/* font-size: 46px; */
	}
	.representation__content {
		padding-right: 50px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	.representation__container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.representation__content {
		padding: 0 0 40px 0;
	}
	.content-representation-body {
		gap: 30px;
	}
	.info-body-content-representation__title {
		/* font-size: 34px; */
	}
	.representation__image {
		/* min-height: 179px; */
		flex: 1 1 auto;
		/* padding-bottom: 64.5%; */
	}
	.representation__image img {
		object-fit: contain;
	}
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
	.representation__image img {
		min-height: 350px;
		object-fit: cover;
	}
	.representation__image {
		min-height: 380px;
	}
}
/* .......................................... */
.title {
	font-weight: 600;
	font-size: 48px;
	text-align: center;
}
/* ............................................ */

/* ............................................. */

.portfolio {
	margin-bottom: 150px;
}
.portfolio__container {
}
.portfolio__title {
	margin-bottom: 150px;
}
.portfolio__title span {
	color: #3730a3;
}
.portfolio__content {
}
.content-portfolio {
	display: flex;
	align-items: center;
	gap: 50px;
}
.content-portfolio__image {
	position: relative;
	flex: 0 0 37.289%;
	padding-bottom: 52.713%;
}
.content-portfolio__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.content-portfolio__projects {
	flex: 1 1 auto;
}
.projects-content-portfolio__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 68px;
	margin: 0 -34px;
}
.projects-content-portfolio__item {
}
.item-projects {
	display: flex;
	flex-direction: column;
	flex: 0 1 50%;
	padding: 0 34px;
}
.item-projects > *:not(:last-child) {
	margin-bottom: 20px;
}
.item-projects__title {
	font-weight: 600;
	line-height: 1.6;
	color: #1f2937;
}
.item-projects__text {
	font-size: 12px;
	line-height: 1.3;
	color: #6b7280;
	flex: 1 1 auto;
}
.item-projects__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.3;
	color: #3730a3;
	position: relative;
	cursor: pointer;
	align-self: flex-start;
	padding-right: 21px;
}
.item-projects__link::before {
	content: "";
	background: url("../img/arrow-right.svg") 0 0 / 100% no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
}
@media (max-width: 1210px) {
	.projects-content-portfolio__items {
		row-gap: 40px;
	}
	.projects-content-portfolio__items {
		margin: 0 -20px;
	}
	.projects-content-portfolio__item {
	}
	.item-projects {
		padding: 0 20px;
	}
	.title {
		font-size: calc(30px + 14 * ((100vw - 320px) / (1210 - 320)));
	}
	.portfolio__title {
		margin-bottom: calc(80px + 70 * ((100vw - 320px) / (1210 - 320)));
	}
	.content-portfolio {
		gap: 40px;
	}
}
@media (max-width: 991.98px) {
	.projects-content-portfolio__items {
		row-gap: 30px;
	}
	.projects-content-portfolio__items {
		margin: 0 -15px;
	}
	.projects-content-portfolio__item {
	}
	.item-projects {
		padding: 0 15px;
	}
	.item-projects > *:not(:last-child) {
		margin-bottom: 15px;
	}
	.content-portfolio {
		gap: 30px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	.content-portfolio {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.content-portfolio__image img {
		object-fit: contain;
	}
	.content-portfolio__image {
		min-height: 450px;
	}
}
/* ................................................ */

.partners {
	background-color: #fef2f2;
	margin-bottom: 150px;
	padding: 100px 0;
}
.partners__container {
}
.partners__lable {
	font-size: 20px;
	line-height: 1.4;
	color: #9ca3af;
	margin-bottom: 20px;
}
.partners__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 97px;
	row-gap: 30px;
	position: relative;
}
.partners__item {
	flex: 0 0 157px;
}
.partners__item img {
	max-width: 100%;
}
@media (max-width: 1210px) {
	.partners__items {
		justify-content: center;
	}
	.partners__lable {
		text-align: center;
	}
}

.fotos {
}
.fotos__container {
}
.fotos__title {
	max-width: 1039px;
	margin: 0 auto 150px auto;
}
.fotos__content {
}
.content-fotos {
}
.content-fotos__two-columns {
	display: flex;
	gap: 28px;
	margin-bottom: 28px;
}
.content-fotos__two-rows {
	flex: 1 1 auto;
	gap: 28px;
	display: flex;
	flex-direction: column;
}
.image1 {
	flex: 1 1 auto;
	position: relative;
	padding-bottom: 75.32%;
}
.image1 img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.image2 {
	position: relative;
	padding-bottom: 65.9%;
}
.image2 img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.content-fotos__one-row {
	position: relative;
	flex: 0 0 45.424%;
	padding-bottom: 76.272%;
}

.content-fotos__one-row img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.content-fotos__one-column {
	position: relative;
	padding-bottom: 33.9%;
}
.content-fotos__one-column img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}

@media (max-width: 767.98px) {
	.content-fotos__two-columns {
		flex-direction: column;
	}
	.content-fotos__two-rows {
		flex: 1 1 100%;
	}
	.content-fotos__one-row img {
		/* object-fit: contain; */
	}
}
.content-fotos__link {
	position: absolute;
	bottom: 21px;
	left: 12px;
	width: 92%;
	height: 94px;
	background-color: rgb(245, 236, 236);
	padding: 23px 0 23px 27px;
}
.link {
}
.link__body {
}
.link__title {
	font-weight: 500;
	line-height: 1.6;
	color: #1f2937;
}
.link__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	color: #9ca3af;
}
.content-fotos__link::before {
	content: "";
	background: url("../img/fotos/arrow-right.svg") 0 0 / 100% no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 27px;
	width: 30px;
	height: 30px;
}

.analitics {
	padding: 150px 0;
}
.analitics__container {
}

.analitics__items {
	display: flex;
	margin: 0 -21.43px;
	flex-wrap: wrap;
	row-gap: 30px;
}

.analitics__item {
	flex: 0 1 33.333%;
	padding: 0 21.43px;
	/* min-width: 364.36px; */
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.item-analitics {
}
.item-analitics__icon {
	width: 141.46px;
	margin-bottom: 40px;
}
.item-analitics__icon img {
	background: #eef2ff;
	border-radius: 6px;
	padding: 50px;
	max-width: 100%;
}
.item-analitics__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 1.2;
	color: #374151;
	margin-bottom: 20px;
	flex: 1 1 auto;
}
.item-analitics__text {
	line-height: 1.6;
	color: #9ca3af;
}
@media (max-width: 767.98px) {
	.analitics__item {
		flex: 1 1 auto;
	}
	.item-analitics__icon {
		margin-bottom: 20px;
	}
}
.careers {
	padding-bottom: 126px;
}
.careers__container {
}

.careers__title {
	margin-bottom: 150px;
}

.careers__items {
	display: flex;
}
.careers__item {
}
.item-careers {
}
h2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #6b7280;
}
h2:not(:last-child) {
	margin-bottom: 80px;
}
.item-careers__company p {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #1f2937;
}
p:not(:last-child) {
	margin-bottom: 56px;
}
span {
	font-weight: 400;
}
.item-careers__position {
	flex: 1 1 auto;
	text-align: center;
}
.item-careers__position,
.item-careers__year p {
	font-size: 16px;
	line-height: 24px;
	color: #6b7280;
}
.item-careers__year {
}
.fotter {
	background-color: #fef2f2;
	padding: 110px 0;
	text-align: center;
}

.fotter__title {
	margin-bottom: 20px;
	font-size: 48px;
}
.fotter__subtitle {
	max-width: 664px;
	margin: 0 auto;
	line-height: 1.6;
	color: #9ca3af;
	margin-bottom: 100px;
}
.fotter__contacts img:not(:last-child){
	margin-right: 50px;
}
